/* General Style */
body {
  font-family: "Exo 2", sans-serif;
}

p {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

/* Header */
.header_total {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  background: #2f00ff;
  background: linear-gradient(to right, #2f00ff, #744eff);
  width: 100%;
  height: 145px;
  padding: 5px 0;
  text-align: center;
  color: white;
}

.title h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  padding-top: 25px;
}

.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 0.1rem;
  background: white;
  margin: 8px auto;
}

.ui .button {
  font-family: "Exo 2", sans-serif !important;
  font-size: 18px !important;
}

.ui .left .button {
  border-radius: 15px 0 0 15px !important;
}

.ui .right .button {
  border-radius: 0 15px 15px 0 !important;
}

.ui .button i {
  padding: 0px 10px 0px 10px;
  text-align: center;
  margin: 0 auto;
  color: #2f00ff;
}
